@import "../base/listas";
@import "../base/mixin" ;
/*HEADER*/

.header {
    a{
        color: nth($colores, 2 );
        font-size: 1.2rem;
    }
}

/*NAV*/
/*Logo para las media quaries*/
.logo-nav-media img {
    width: 8rem;
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    margin: 0.5rem auto;
    @media (max-width:414px) {
        display: block;
    }
    @media (min-width:415px) and (max-width:1263px) {
        display: block;
    }

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
        

    @media (max-width:414px) {
        width: 90%;
        
    }
    @media (min-width: 415px) and (max-width:1263px) {
        width: 100%;
    }
    ul {
        @media(max-width:414px) {
            margin-left: 2rem;
            display: flex;
            justify-content: center;
            
        }
        @media(min-width:415px) and (max-width:1263px) {
            display: flex;
            justify-content: center;


        } 

        @include ul-navbar;

        li {
            display: inline-block;
            
            a{
                padding: 0.5rem;
                margin: 1rem 4rem;
                text-decoration: none;
                font-weight: bold;
                font-style: oblique;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                @media(max-width:414px) {
                    padding: 0.5rem 0;
                    margin: 0.5rem 1rem;
                    font-size: 0.8rem;
                    
                }
                @media(min-width:415px) and (max-width:1263px) {
                    padding: 0.5rem 0;
                    margin: 1rem;
                    text-align: center;
                    font-size: 0.12;
                } 

               
            }
            .nav-img {
                @include img-logo(11rem, 0.2rem);
                
                @media (max-width:414px){
                    display: none;
                }
                @media(min-width:415px) and (max-width:1263px) {
                    display: none;
                }
                &:hover {
                    transform: scale(1.2);
                }
            }
            .nav-item{
                &:hover {
                    border: outset nth($colores, 4);
                }
            }

        }
    }
    .nav-img-carrito {
        cursor: pointer;
        position: fixed;
        right: 0rem;
        margin-right: 1rem;
        width: 2.7rem;
        transition: all 1s;
        &:hover{
            transform: scale(1.3);
        }
        @media (max-width:414px){
            width: 1.5rem;
            margin-right: 0.5rem;
            margin-top: 2rem;
        }
        @media (min-width:415px) and (max-width:1263px) {
            width: 1.5rem;
            right: 1rem;
            margin-right: 1rem;
        }
    }

}



/*foto de fondo*/ 
.foto-header {
    width: 100%;
    height: 85vh;
    background-image: url(../image/fotoheader.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: top;
    justify-content: center;
    text-align: center;
}

