/*Seccion productos*/ 
@import "../base/variables";
h3{
    font-size: $size-h3;
}
h4 {
    font-size: $size-h4;
}
.link-products{
    a{
        &::before {
            content: "🥯";
        }
    }
}