
@import "../base/condiciones";


/*SUCURSALES*/ 
.btn-menu{
    cursor: pointer;
    display: inline-block;
    @include condicion-fsize(1rem);
    font-weight: bolder;
    /*Submenu*/ 
    .sub-menu {
        color: nth($colores, 12 );
        position: absolute;
        background: nth($colores, 5 );
        list-style: none;
        border-radius: 0.31rem;
        display: none;
        padding: 0.63rem;
        align-items: center;
        cursor: pointer;
        li {
            border-bottom: 0.03rem solid black;
            
        }
    }
    
    &:hover .sub-menu {
        display: block;
    }
    ul{
        li{
            padding: 0.32rem;
            
        }
    }
    
}



/*Imagenes*/ 


 /*tamaño*/ 
 .row-img-locales{
    .img-local{
        margin-left: 2rem;
    }
     img{
        display: flex;
        width: 95%;
        height: 100%;
     }
 }