/*VENTANA PRODUCTOS*/ 

.card {
    background-color: nth($colores , 4 );
    color: nth($colores, 12 );
    transition: all 250ms;
    border-radius: 1rem;
    &:hover {
        transform: scale(1.05);
        z-index: 1;
        box-shadow: 0.3rem 0.3rem 1rem nth($colores, 4 );
    }
    .btn {
        color: nth($colores , 2 );
    }
    h2 {
        font-size: 1.6rem;
        text-transform: uppercase;

    }
    p {
        font-size: 0.6;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }
}

footer {
    h3 {
        font-size: $size-h3-footer;
    }
}
